<!doctype html>

{% extends "base.html" %}

{% block content %}

  <h1>Make buggy</h1>
  <p>
    {{ msg }}
  </p>
  <form action="/new" method="post">
    <label for="flag_color">Colour of flag:</label>
    <input type="text" name="flag_color" value="{{ buggy['flag_color'] }}"/>
    <br>
    <label for="flag_color_secondary">Second colour on flag:</label>
    <input type="text" name="flag_color_secondary" value="{{ buggy['flag_color_secondary'] }}"/>
    <br>
    <label for="flag_pattern">Type of tyres:</label>
    <select name="flag_pattern" id="flag_pattern">
        <option value="plain">Plain</option>
        <option value="vstripe">V Stripe</option>
        <option value="hstripe">H Stripe</option>
        <option value="dstripe">D Stripe</option>
        <option value="checker">Checkerboard</option>
        <option value="spot">Spot</option>
    </select>
    <br>
    <label for="qty_wheels">Number of wheels:</label>
    <input type="text" name="qty_wheels" value="{{ buggy['qty_wheels'] }}"/>
    <br>
    <label for="qty_tyres">Number of tyres:</label>
    <input type="text" name="qty_tyres" value="{{ buggy['qty_tyres'] }}" />
    <br>
    <label for="tyres">Type of tyres:</label>
    <select name="tyres" id="tyres">
        <option value="knobbly">Knobbly</option>
        <option value="slick">Slick</option>
        <option value="steelband">Steelband</option>
        <option value="reactive">Reactive</option>
        <option value="maglev">Magnetic Levitation</option>
    </select>
    <br>
    <label for="power_type">Primary power source:</label>
    <select name="power_type" id="power_type">
        <option value="petrol">Petrol</option>
        <option value="fusion">Fusion</option>
        <option value="steam">Steam</option>
        <option value="bio">Biological</option>
        <option value="electric">Electric</option>
        <option value="rocket">Rocket</option>
        <option value="hamster">Hamster</option>
        <option value="thermo">Thermal</option>
        <option value="solar">Solar</option>
        <option value="wind">Wind</option>
    </select>
    <br>
    <label for="power_units">Number of power units:</label>
    <input type="text" name="power_units" value="{{ buggy['power_units'] }}"/>
    <br>
    <label for="aux_power_type">Backup power source:</label>
    <select name="aux_power_type" id="aux_power_type">
        <option value="petrol">Petrol</option>
        <option value="fusion">Fusion</option>
        <option value="steam">Steam</option>
        <option value="bio">Biological</option>
        <option value="electric">Electric</option>
        <option value="rocket">Rocket</option>
        <option value="hamster">Hamster</option>
        <option value="thermo">Thermal</option>
        <option value="solar">Solar</option>
        <option value="wind">Wind</option>
    </select>
    <br>
    <label for="aux_power_units">Number of backup power units:</label>
    <input type="text" name="aux_power_units" value="{{ buggy['aux_power_units'] }}" />
    <br>
    <label for="hamster_booster">Number of hamster boosters:</label>
    <input type="text" name="hamster_booster" value="{{ buggy['aux_power_units'] }}" />
    <br>
    <label for="armour">Type of armour:</label>
    <select name="armour" id="armour">
        <option value="none">None</option>
        <option value="wood">Wood</option>
        <option value="aluminium">Aluminium</option>
        <option value="thinsteel">Thin Steel</option>
        <option value="thicksteel">Thick Steel</option>
        <option value="titanium">Titanium</option>
    </select>
    <br>
    <label for="attack">Offensive Capability:</label>
    <select name="attack" id="attack">
        <option value="none">None</option>
        <option value="spike">Spike</option>
        <option value="flame">Flame</option>
        <option value="charge">Charge</option>
        <option value="biohazard">Biohazard</option>
    </select>
    <br>
    <label for="qty_attacks">Number of attacks in race:</label>
    <input type="text" name="qty_attacks" value="{{ buggy['qty_attacks'] }}"/>
    <br>
    <label for="fireproof">Fireproof?:</label>
    <select name="fireproof" id="fireproof">
        <option value="True">Yes</option>
        <option value="False">No</option>
    </select>
    <br>
    <label for="insulated">Insulated?:</label>
    <select name="insulated" id="insulated">
        <option value="True">Yes</option>
        <option value="False">No</option>
    </select>
    <br>
    <label for="antibiotic">Antibiotic?:</label>
    <select name="antibiotic" id="antibiotic">
        <option value="True">Yes</option>
        <option value="False">No</option>
    </select>
    <br>
    <label for="banging">Banging sound system?:</label>
    <select name="banging" id="banging">
        <option value="True">Yes</option>
        <option value="False">No</option>
    </select>
    <br>
    <label for="algo">Race computer algorithm:</label>
    <select name="algo" id="algo">
        <option value="defensive">Defensive</option>
        <option value="steady">Steady</option>
        <option value="offensive">Offensive</option>
        <option value="random">Random</option>
    </select>
    <br>
    <input type="submit" class="button">
  </form>
  <p>
    <a href="/" class="button">home</a>
   </p>
{% endblock %}
