<!doctype html>

{% extends "base.html" %}

{% block content %}

  <h1>Make buggy</h1>
  <form action="/new" method="post">
    <label for="flag_color">Colour of flag:</label>
    <input type="text" name="flag_color" />
    <br>
    <label for="flag_color_secondary">Second colour on flag:</label>
    <input type="text" name="flag_color_secondary" />
    <br>
    <label for="flag_pattern">Flag pattern:</label>
    <input type="text" name="flag_pattern" />
    <br>
    <label for="qty_wheels">Number of wheels:</label>
    <input type="text" name="qty_wheels" />
    <br>
    <label for="qty_tyres">Number of tyres:</label>
    <input type="text" name="qty_tyres" />
    <br>
    <label for="tyres">Type of tyres:</label>
    <select name="tyres" id="tyres">
        <option value="knobbly">Knobbly</option>
        <option value="slick">Slick</option>
        <option value="steelband">Steelband</option>
        <option value="reactive">Reactive</option>
        <option value="maglev">Magnetic Levitation</option>
    </select>
    <br>
    <label for="power_type">Primary power source:</label>
    <select name="power_type" id="power_type">
        <option value="petrol">Petrol</option>
        <option value="fusion">Fusion</option>
        <option value="steam">Steam</option>
        <option value="bio">Biological</option>
        <option value="electric">Electric</option>
        <option value="rocket">Rocket</option>
        <option value="hamster">Hamster</option>
        <option value="thermo">Thermal</option>
        <option value="solar">Solar</option>
        <option value="wind">Wind</option>
    </select>
    <input type="submit" class="button">
  </form>
  <p>
    <a href="/" class="button">home</a>
   </p>
{% endblock %}
