{% extends "base.html" %}

{% block content %}

  <h1>Buggy</h1>

  <table>
   <tr>
     <td>ID:</td> <td> {{ buggy['id'] }} </td> <td> Cost (£) </td>
   </tr>
   <tr>
     <td>Colour of flag:</td> <td> {{ buggy['flag_color'] }} </td> <td>  </td>
   </tr>
   <tr>
     <td>Second flag colour:</td> <td> {{ buggy['flag_color_secondary'] }} </td> <td>  </td>
   </tr>
   <tr>
     <td>Flag pattern:</td> <td> {{ buggy['flag_pattern'] }} </td> <td>  </td>
   </tr>
   <tr>
     <td>Wheels:</td> <td> {{ buggy['qty_wheels'] }} </td> <td>  </td>
   </tr>
   <tr>
     <td>Number of tyres:</td> <td> {{ buggy['qty_tyres'] }} </td> <td>  </td>
   </tr>
   <tr>
     <td>Type of tyres:</td> <td> {{ buggy['tyres'] }} </td> <td> {{ cost_tyres }} </td>
   </tr>
   <tr>
     <td>Primary power source:</td> <td> {{ buggy['power_type'] }} </td> <td>  </td>
   </tr>
   <tr>
     <td>Number of power units:</td> <td> {{ buggy['power_units'] }} </td> <td> {{ cost_primary_power }} </td>
   </tr>
   <tr>
     <td>Backup power source:</td> <td> {{ buggy['aux_power_type'] }} </td> <td>  </td>
   </tr>
   <tr>
     <td>Number of backup power source:</td> <td> {{ buggy['aux_power_units'] }} </td> <td> {{ cost_backup_power }} </td>
   </tr>
   <tr>
     <td>Number of hamster boosters:</td> <td> {{ buggy['aux_power_units'] }} </td> <td> {{ cost_hamster_booster }} </td>
   </tr>
   <tr>
     <td>Type of armour:</td> <td> {{ buggy['armour'] }} </td> <td> {{ cost_armour }} </td>
   </tr>
   <tr>
     <td>Offensive capability:</td> <td> {{ buggy['attack'] }} </td> <td> </td>
   </tr>
   <tr>
     <td>Number of attacks in race:</td> <td> {{ buggy['qty_attacks'] }} </td> <td> {{ cost_offence }} </td>
   </tr>
   <tr>
     <td>Fireproof?:</td> <td> {{ buggy['fireproof'] }} </td> <td> {{ cost_fireproof }} </td>
   </tr>
   <tr>
     <td>Insulated?:</td> <td> {{ buggy['insulated'] }} </td> <td> {{ cost_insulated }} </td>
   </tr>
   <tr>
     <td>Antibiotic?:</td> <td> {{ buggy['antibiotic'] }} </td> <td> {{ cost_antibiotic }} </td>
   </tr>
   <tr>
     <td>Banging sound system?:</td> <td> {{ buggy['banging'] }} </td> <td> {{ cost_banging }} </td>
   </tr>
   <tr>
     <td>Race computer algorithm:</td> <td> {{ buggy['algo'] }} </td> <td> 0 </td>
   </tr>
   <tr>
     <td>Total cost </td> <td> </td> <td> {{ total_cost }} </td>
  </table>

  <p>
    <a href="/" class="button">home</a>
  </p>

{% endblock %}
